@using Website.Models;

@* I don't know how else set column to shrink to size of the image. *@
<td class="align-middle" style="width:1%">
    <a class="d-inline-block" href="@($"/ride-details/{Ride.Id}")">
        <img src="@_iconPath" width="50" height="50"/>
    </a>
</td>
<td>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <a href="@($"/ride-details/{Ride.Id}")">@Ride.FullName</a>
    </li>
    <li class="list-inline-item">@(Math.Round(Ride.Distance, 2) + " km")</li>
  </ul>
  <p class="text-body-secondary mb-0">
    <time title="" datetime="@Ride.Start">@FormatTimeAgo(Ride.Start)</time>
  </p>
  <p class="mb-0">@Ride.Start</p>
</td>

