@using Website.Models;
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Drawing.Processing
@using SixLabors.ImageSharp.PixelFormats
@using SixLabors.ImageSharp.Processing

@inject ILogger<RideTableRow> Logger

@inject IWebHostEnvironment Env

<td class="align-middle">
  <img class="d-inline-block" src="@CreateIcon()"/>
</td>
<td>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <a href="@($"/ride-details/{Ride.Id}")">@Ride.Id</a>
    </li>
    <li class="list-inline-item">@(Ride.TrackPointCount + " points")</li>
  </ul>
  <p class="text-body-secondary mb-0">
    <time title="" datetime="@Ride.Start">@FormatTimeAgo(Ride.Start)</time>
  </p>
  <p class="mb-0">@Ride.Start</p>
</td>

@code {
  [Parameter] [EditorRequired] public Ride Ride { get; set; }

  private string FormatTimeAgo(DateTime dt) {
    TimeSpan ts = DateTime.Now - dt;
    if (ts.TotalDays > 1) {
      return $"{ts.Days} days ago";
    }

    if (ts.TotalHours > 1) {
      return $"{ts.Hours} hours ago";
    }

    if (ts.TotalMinutes > 1) {
      return $"{ts.Minutes} minutes ago";
    }

    return $"{ts.Seconds} seconds ago";
  }

  private string CreateIcon() {
  
    List<TrackPoint> track = Ride.TrackPoints;

    if (track.Count == 0) {
      Logger.LogWarning("There are not track points for ride {0} id. Can't create icon.", Ride.Id);
      return "";
    }

    // Check, if icon already exists for this ride.
    string storagePath = Path.Combine(Env.WebRootPath, "uploads", Ride.Id.ToString());
    string iconPath = Path.Combine(storagePath, "icon.png");
    if (File.Exists(iconPath)) {
      return Env.GetRelativeWebPath(iconPath);
    }

    double originLat = track.First().Latitude;
    double originLon = track.First().Longitude;

    // Compute grid indices relative to origin
    IEnumerable<(double x, double y)> local = track
      .Select(x => Geo.LatLonToLocal(x.Latitude, x.Longitude, originLat, originLon))
      .ToList();

    // Find bounding box to of the local values to center points
    double minX = local.Min(p => p.x);
    double maxX = local.Max(p => p.x);
    double minY = local.Min(p => p.y);
    double maxY = local.Max(p => p.y);

    double width = maxX - minX;
    double height = maxY - minY;

    const int imageSize = 50;

    // Scale so that the largest dimension fits in imageSize
    double scale = width > height ? imageSize / width : imageSize / height;
    double heightOffset = (imageSize - height * scale) / 2;

    List<(int x, int y)> px = local.Select(p => (
      x: (int)((p.x - minX) * scale),
      y: (int)((p.y - minY) * scale + heightOffset)
    )).ToList();

    // Convert to PointF
    IEnumerable<PointF> points = px.Select(x => new PointF(x.x, x.y));

    using Image<Rgba32> image = new(imageSize, imageSize);
    image.Mutate(x => {
      x.Fill(Color.White);
      x.DrawLine(Color.Black, 1f, points.ToArray());
    });

    // Absolute path allows to manage files on the system, whereas 
    // relative path allows to display content on website.
    if (Directory.Exists(storagePath) == false) {
      Directory.CreateDirectory(storagePath);
    }

    Logger.LogInformation($"Saving icon at '{iconPath}'");
    // NOTE: We know that file does not exist, we checked that at the beginning
    // of the method.
    File.Create(iconPath).Close();
    image.SaveAsPng(iconPath);

    string relPath = Env.GetRelativeWebPath(iconPath);
    Logger.LogInformation($"Relative path of the icon is '{0}'", relPath);
    return relPath;
  }

}
