@page "/"

@rendermode InteractiveServer

@using Website.Models
@using Website.Components.Pieces

<PageTitle>Home</PageTitle>

<div class="content-inner position-relative m-auto">
    <table class="table table-borderless table-striped">
        <tbody>
            @foreach (Ride ride in _pagedRides) 
            {
                <tr>
                    <RideTableRow Ride="@ride" />
                </tr>
            }
        </tbody>
    </table>

    @* FIX: width of the element seems to be entire page, which is not very nice *@
    <nav aria-label="Ride pagination">
        <ul class="pagination">
            @* Previous Button *@
            <li class="page-item @(_currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(_currentPage - 1)" 
                        disabled="@(_currentPage == 1)">Previous</button>
            </li>

            @* Dynamic Page Numbers *@
            @for (int i = 1; i <= _totalPages; i++)
            {
                var pageNumber = i; @* Local variable for the closure *@
                <li class="page-item @(pageNumber == _currentPage ? "active" : "")">
                    <button class="page-link" @onclick="() => ChangePage(pageNumber)">
                        @pageNumber
                    </button>
                </li>
            }

            @* Next Button *@
            <li class="page-item @(_currentPage == _totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(_currentPage + 1)" 
                        disabled="@(_currentPage == _totalPages)">Next</button>
            </li>
        </ul>
    </nav>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast @(_showToast ? "show" : "hide") shadow" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Update Successful</strong>
            <button type="button" class="btn-close btn-close-white" @onclick="() => _showToast = false"></button>
        </div>
        <div class="toast-body">
            Your rides have been updated. Total rides: @_totalCount
        </div>
    </div>
</div>
