@page "/summary"

@using Microsoft.EntityFrameworkCore
@using Website.Data
@using Website.Models
@using Website.Components.Pieces
@using System.Diagnostics

@inject IDbContextFactory<AppDbContext> DbContextFactory

@using ValueType = Syncfusion.Blazor.Charts.ValueType

@* 
  I think, I'm a bit too stupid yet to use pre-render pass effectively
  so, I'm disabling it for now. More on pre-render pass for interactive components
  https://learn.microsoft.com/en-us/aspnet/core/blazor/components/prerender?view=aspnetcore-10.0

  There is also documentation for peristance of state when doing pre-render pass
  http
*@
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Summary</PageTitle>

<h2>Overall</h2>

@*
  The main problem here is that every time I'm calculcating new metrics
  all GPX files are read. This casues around 13 reads of 31 files each.
*@

<div class="container">
  <div class="row mb-2">

    <RideDetailCard Title="Total distance" Text="@(Math.Round(Rides.Sum(x => x.Distance), 2) + " km")" />

    <RideDetailCard Title="Total driving time" Text="@(SumDurations(Rides).ToString())" />

  </div>

  <div class="row mb-2">

    <RideDetailCard Title="Average trip duration" Text="@GetAverageTripDuration()" />

    <RideDetailCard Title="Elevation gain/loss (m)"
      Text="@(Math.Round(Rides.Sum(x => x.ElevationGain), 2) + "/" + Math.Round(Rides.Sum(x => x.ElevationLoss), 2))" />

  </div>

  <div class="row mb-2">

    <RideDetailCard Title="Average speed" Text="@GetAverageSpeed()" />
    <RideDetailCard Title="Max speed" Text="@GetMaxSpeed()" />

  </div>
</div>


<h2>Advanced/Analytical Metrics</h2>
<div class="container">
  <div class="row mb-2">

    <RideDetailCard Title="Harsh acceleration/breaking count"
      Text="@(Rides.Sum(x => x.FastAccelerationCount) + "/" + Rides.Sum(x => x.FastDecelerationCount))" />

  </div>

  <div class="row mb-2">
    <div class="col-sm-12 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div style="height:400px">
            <SfChart Title="Speed distribution">
              <ChartArea>
                <ChartAreaBorder Width="0" />
              </ChartArea>

              <ChartPrimaryXAxis Minimum="0">
                <ChartAxisMajorGridLines Width="0" />
              </ChartPrimaryXAxis>

              <ChartPrimaryYAxis Minimum="0" Title="Time (s)">
                <ChartAxisMajorGridLines Width="0" />
              </ChartPrimaryYAxis>

              <ChartSeriesCollection>
                <ChartSeries DataSource="@SpeedDistributionData" 
                  YName="XValue" 
                  Type="ChartSeriesType.Histogram"
                  BinInterval="10" 
                  ColumnWidth="0.90">

                  <ChartMarker Visible="false">
                    <ChartDataLabel Visible="true" />
                  </ChartMarker>

                </ChartSeries>
              </ChartSeriesCollection>

              <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            </SfChart>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-sm-12 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div style="height:400px">
            <SfChart Title="Distance over months">
              <ChartPrimaryXAxis Title="Year and month" ValueType="ValueType.Category" />
              <ChartPrimaryYAxis Title="Distance (km)" />
              <ChartTooltipSettings Enable="true" />

              <ChartSeriesCollection>
                <ChartSeries DataSource="@DistanceOverMonthsData" XName="XValue" YName="YValue"
                  Type="ChartSeriesType.Column">
                  <ChartSeriesAnimation Enable="false" Duration="0" />
                </ChartSeries>
              </ChartSeriesCollection>
            </SfChart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div style="height:400px">
            <SfChart Title="Average speed over months">
              <ChartPrimaryXAxis Title="Year and month" ValueType="ValueType.Category" />
              <ChartPrimaryYAxis Title="Speed (km/h)" />
              <ChartTooltipSettings Enable="true" />

              <ChartSeriesCollection>
                <ChartSeries DataSource="@SpeedOverMonthsData" XName="XValue" YName="YValue"
                  Type="ChartSeriesType.Column">
                  <ChartSeriesAnimation Enable="false" Duration="0" />
                </ChartSeries>
              </ChartSeriesCollection>
            </SfChart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
